if command -v go >/dev/null 2>&1; then
  export GOPATH="$HOME/go"
fi
{% if enable_pyenv %}
if [ -d "{{ pyenv_root }}" ] || command -v pyenv >/dev/null 2>&1; then
  export PYENV_ROOT="{{ pyenv_root }}"
fi
{% endif %}
{% if enable_goenv %}
if [ -d "{{ goenv_root }}" ] || command -v goenv >/dev/null 2>&1; then
  export GOENV_ROOT="{{ goenv_root }}"
fi
{% endif %}
{% if enable_tfenv %}
if [ -d "{{ tfenv_root }}" ] || command -v tfenv >/dev/null 2>&1; then
  export TFENV_ROOT="{{ tfenv_root }}"
fi
{% endif %}
{% if enable_nvm %}
if [ -d "{{ nvm_dir }}" ] || command -v nvm >/dev/null 2>&1; then
  export NVM_DIR="{{ nvm_dir }}"
fi
{% endif %}
{% if enable_rvm %}
if [ -d "{{ rvm_path }}" ] || command -v rvm >/dev/null 2>&1; then
  export RVM_PATH="{{ rvm_path }}"
fi
{% endif %}

## SDKs and tools
{% if enable_sdkman %}
if [ -d "{{ sdkman_dir }}" ] || command -v sdk >/dev/null 2>&1; then
  export SDKMAN_DIR="{{ sdkman_dir }}"
fi
{% endif %}
export ANDROID_HOME="$HOME/Library/Android/sdk"

## PNPM
if command -v pnpm >/dev/null 2>&1 || [ -d "$HOME/Library/pnpm" ]; then
  export PNPM_HOME="$HOME/Library/pnpm"
  case ":$PATH:" in
    *":$PNPM_HOME:"*) ;;
    *) export PATH="$PNPM_HOME:$PATH" ;;
  esac
fi

## FZF
export FZF_CTRL_T_OPTS="--walker-skip .git,node_modules,target --preview 'bat -n --color=always {}' --bind 'ctrl-/:change-preview-window(down|hidden|)' --color header:italic --header 'Press CTRL-Y to copy command into clipboard'"
if [ "$(uname -s)" = "Darwin" ]; then
  export FZF_CTRL_T_OPTS="$FZF_CTRL_T_OPTS --bind 'ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort'"
fi
export FZF_CTRL_R_OPTS=""
export FZF_ALT_C_OPTS="--walker-skip .git,node_modules,target --preview 'tree -C {}'"

## zsh-autosuggestions
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=#663399,italic,standout"

## Locale
LANG="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_CTYPE="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_ALL=

## Misc
export USE_GKE_GCLOUD_AUTH_PLUGIN=False
