if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-promen-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-promen-${(%):-%n}.zsh"
fi
ZSH_THEME="powerlevel10k/powerlevel10k"
