{% if enable_pyenv %}
## pyenv
if command -v pyenv >/dev/null 2>&1; then
  eval "$(pyenv init -)"
  eval "$(pyenv init - zsh)"
  if command -v pyenv-virtualenv-init >/dev/null 2>&1; then
    eval "$(pyenv virtualenv-init -)"
  fi
fi
{% endif %}

{% if enable_goenv %}
## goenv
if command -v goenv >/dev/null 2>&1; then
  eval "$(goenv init -)"
fi
{% endif %}

## thefuck
if command -v thefuck >/dev/null 2>&1; then
  eval "$(thefuck --alias)"
fi

## fzf
if [ -f "$HOME/.fzf.zsh" ]; then
  source "$HOME/.fzf.zsh"
fi
if fzf --help 2>/dev/null | grep -q -- "--zsh"; then
  source <(fzf --zsh)
fi

## completions
autoload -Uz compinit
if [ "$(date +'%j')" != "$(stat -f '%Sm' -t '%j' ~/.zcompdump 2>/dev/null)" ]; then
  compinit
else
  compinit -C
fi
zstyle ":completion:*" use-cache on
zstyle ":completion:*" cache-path ~/.zsh/cache

## integrations
if [ -f "$HOME/.iterm2_shell_integration.zsh" ]; then
  source "$HOME/.iterm2_shell_integration.zsh"
fi

{% if enable_sdkman %}
## SDKMAN
if [ "$(uname -s)" = "Darwin" ] && [ -f "{{ sdkman_dir }}/bin/sdkman-init.sh" ]; then
  source "{{ sdkman_dir }}/bin/sdkman-init.sh"
fi
{% endif %}

{% if enable_nvm %}
## NVM
if [ -s "{{ nvm_dir }}/nvm.sh" ]; then
  . "{{ nvm_dir }}/nvm.sh"
fi
if [ -s "{{ nvm_dir }}/bash_completion" ]; then
  . "{{ nvm_dir }}/bash_completion"
fi
{% endif %}

{% if enable_rvm %}
## RVM
if [ -s "{{ rvm_path }}/scripts/rvm" ]; then
  source "{{ rvm_path }}/scripts/rvm"
fi
{% endif %}
