---
- name: Backup shell config
  ansible.builtin.file:
    path: "{{ backup_dir }}"
    state: directory
    mode: "0700"
  tags:
    - shell

- name: Check .zshrc
  ansible.builtin.stat:
    path: "{{ zshrc_path }}"
  register: shell_zshrc_stat
  tags:
    - shell

- name: Backup .zshrc
  ansible.builtin.copy:
    src: "{{ zshrc_path }}"
    dest: "{{ backup_dir }}/.zshrc"
    remote_src: true
    mode: "0600"
  when: shell_zshrc_stat.stat.exists
  tags:
    - shell

- name: Check Powerlevel10k configs
  ansible.builtin.stat:
    path: "{{ item }}"
  loop:
    - "{{ macos_home }}/.p10k.zsh"
    - "{{ macos_home }}/.p10k.zsh.zwc"
  register: shell_p10k_stats
  tags:
    - shell

- name: Backup Powerlevel10k configs
  ansible.builtin.copy:
    src: "{{ item.stat.path }}"
    dest: "{{ backup_dir }}/"
    remote_src: true
    mode: "0600"
  loop: "{{ shell_p10k_stats.results | selectattr('stat.exists', 'equalto', True) | list }}"
  tags:
    - shell

- name: Check shell scripts directory
  ansible.builtin.stat:
    path: "{{ shell_scripts_dir }}"
  register: shell_scripts_stat
  tags:
    - shell

- name: Backup shell scripts directory
  ansible.builtin.copy:
    src: "{{ shell_scripts_dir }}"
    dest: "{{ backup_dir }}/.shell_scripts"
    remote_src: true
    mode: "0700"
  when: shell_scripts_stat.stat.exists
  tags:
    - shell

- name: Ensure oh-my-zsh is installed
  ansible.builtin.git:
    repo: "https://github.com/ohmyzsh/ohmyzsh.git"
    dest: "{{ omz_path }}"
    version: master
    depth: 1
  tags:
    - shell

- name: Ensure powerlevel10k is installed
  ansible.builtin.git:
    repo: "https://github.com/romkatv/powerlevel10k.git"
    dest: "{{ p10k_path }}"
    version: master
    depth: 1
  tags:
    - shell

- name: Check custom plugin directories
  ansible.builtin.stat:
    path: "{{ omz_path }}/custom/plugins/{{ item.name }}"
  loop: "{{ zsh_custom_plugins }}"
  register: shell_zsh_plugin_stats
  when: zsh_custom_plugins | length > 0
  tags:
    - shell

- name: Install custom oh-my-zsh plugins (only if missing)
  ansible.builtin.git:
    repo: "{{ item.item.repo }}"
    dest: "{{ omz_path }}/custom/plugins/{{ item.item.name }}"
    version: master
    depth: 1
  loop: "{{ shell_zsh_plugin_stats.results }}"
  when:
    - zsh_custom_plugins | length > 0
    - not item.stat.exists
  tags:
    - shell


- name: Ensure SDKMAN is installed
  ansible.builtin.shell: curl -s "https://get.sdkman.io" | bash
  args:
    creates: "{{ sdkman_dir }}/bin/sdkman-init.sh"
  when: enable_sdkman
  tags:
    - shell

- name: Check pyenv directory
  ansible.builtin.stat:
    path: "{{ pyenv_root }}"
  register: shell_pyenv_stat
  tags:
    - shell

- name: Ensure pyenv is installed
  ansible.builtin.git:
    repo: "https://github.com/pyenv/pyenv.git"
    dest: "{{ pyenv_root }}"
    version: master
    depth: 1
  when:
    - enable_pyenv
    - not shell_pyenv_stat.stat.exists
  tags:
    - shell

- name: Check goenv directory
  ansible.builtin.stat:
    path: "{{ goenv_root }}"
  register: shell_goenv_stat
  tags:
    - shell

- name: Ensure goenv is installed
  ansible.builtin.git:
    repo: "https://github.com/go-nv/goenv.git"
    dest: "{{ goenv_root }}"
    version: master
    depth: 1
  when:
    - enable_goenv
    - not shell_goenv_stat.stat.exists
  tags:
    - shell

- name: Ensure nvm is installed
  ansible.builtin.shell: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.4/install.sh | bash
  args:
    creates: "{{ nvm_dir }}/nvm.sh"
  when: enable_nvm
  tags:
    - shell

- name: Ensure rvm is installed
  ansible.builtin.shell: curl -sSL https://get.rvm.io | bash -s stable
  args:
    creates: "{{ rvm_path }}/scripts/rvm"
  when: enable_rvm
  tags:
    - shell

- name: Check tfenv directory
  ansible.builtin.stat:
    path: "{{ tfenv_root }}"
  register: shell_tfenv_stat
  tags:
    - shell

- name: Ensure tfenv is installed
  ansible.builtin.git:
    repo: "https://github.com/tfutils/tfenv.git"
    dest: "{{ tfenv_root }}"
    version: master
    depth: 1
  when:
    - enable_tfenv
    - not shell_tfenv_stat.stat.exists
  tags:
    - shell

- name: Check Homebrew for env managers
  ansible.builtin.command: /usr/bin/which brew
  register: shell_brew_check
  changed_when: false
  failed_when: false
  when: enable_tfswitch or enable_fvm
  tags:
    - shell

- name: Ensure tfswitch is installed (Homebrew)
  ansible.builtin.command: brew install warrensbox/tap/tfswitch
  when:
    - enable_tfswitch
    - shell_brew_check.rc == 0
  tags:
    - shell

- name: Ensure fvm is installed (Homebrew)
  ansible.builtin.shell: |
    brew tap leoafarias/fvm
    brew install fvm
  when:
    - enable_fvm
    - shell_brew_check.rc == 0
  tags:
    - shell

- name: Install .zshrc from template
  ansible.builtin.template:
    src: zshrc.j2
    dest: "{{ zshrc_path }}"
    mode: "0644"
  tags:
    - shell

- name: Install powerlevel10k config from template
  ansible.builtin.copy:
    src: p10k.zsh
    dest: "{{ p10k_config_path }}"
    mode: "0644"
  tags:
    - shell

- name: Ensure shell scripts directory exists
  ansible.builtin.file:
    path: "{{ shell_scripts_dir }}"
    state: directory
    mode: "0755"
  tags:
    - shell

- name: Install shell script fragments
  ansible.builtin.template:
    src: "shell_scripts/{{ item }}.sh.j2"
    dest: "{{ shell_scripts_dir }}/{{ item }}.sh"
    mode: "0644"
  loop:
    - p10k
    - omz
    - paths
    - exports
    - sources
    - functions
    - alias
    - private
  tags:
    - shell
